.header5{
  width: 100%;
  height: 400px;
  background: #4e54c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      hsla(237, 92%, 77%, 0.514),
      hsla(237, 53%, 55%, 0.493)
    ), url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRbayOE2ZlePjuPLIyW4_MEyz8Q9i48NTlzmg&usqp=CAU');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.tTI{
  display: flex;
  height: 430px;
  font-style: italic;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  font-style: italic;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  color: white;
}
.pasatiempo-contenedor{
 
 position: relative;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-direction: column;
 flex-direction: column;
 word-wrap: break-word;
 background-color: #fff;
 background-clip: border-box;
 border: 5px solid rgba(0,0,0,.125);
 border-radius: .25rem;
 text-align: center;
 width: 350px;
 height: 300px;
 display: inline-block;
 margin: 3%;  
 background-color:#C0C0C0;
 font-weight: bold;
 font-family: 'Times New Roman', Times, serif;

}
.pasatiempo-imagen{
  width: 100%;
  height: 85%;
  
}
